* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: linear-gradient(135deg, #0b1c2d, #0f4c5c);
  color: white;
  min-height: 100vh;
}

/* Navbar */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 50px;
  background: #081825;
}

.logo {
  color: #00e5ff;
  font-size: 28px;
}

nav a {
  color: white;
  margin-left: 25px;
  text-decoration: none;
  font-size: 16px;
}


nav a:hover {
  color: #2de2e6;
}

/* Contact Section */
.contact-section {
  padding: 50px;
}

.contact-section h2 {
  font-size: 36px;
  margin-bottom: 30px;
}

/* Card */
.contact-card {
  display: flex;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 25px;
  padding: 30px;
  max-width: 900px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s;
}

.contact-card:hover {
  transform: scale(1.02);
}

/* Image Box */
.image-box {
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid rgba(255, 255, 255, 0.2);
}

.image-box img {
  width: 180px;
  height: 180px;
  border-radius: 20px;
  object-fit: cover;
  border: 3px solid #2de2e6;
}

/* Info Box */
.info-box {
  flex: 1;
  padding-left: 40px;
}

.info-box p {
  font-size: 18px;
  margin-bottom: 15px;
}

.info-box span {
  color: #2de2e6;
  font-weight: bold;
}

/* Contact Links */
.contact-links {
  margin-top: 25px;
}

.contact-links a {
  display: inline-block;
  margin-right: 15px;
  padding: 10px 18px;
  background: #2de2e6;
  color: #081825;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
}

.contact-links a:hover {
  background: white;
}

/* Footer */
footer {
  text-align: center;
  padding: 15px;
  background: #081825;
  font-size: 14px;
  margin-top: 60px;
}
